
body{
  --color-primary: #383a3e;
  --color-primary-dark: #1e1f26;
  --color-secondary: #8c6a5e;
  --color-secondary-dark: #735149;
  --color-extra: #e3d2bc;
  --color-fancy: #ffc872;
  --color-light: #f1f1f1;
  --color-light-light: #fafafa;
  --color-grey: #8C8C8C;
  --color-dark: #333;

  padding: 0;
  margin: 0;
  color: var(--color-dark);

  

  font-family: "nunito";
}


@font-face {
  font-family: "product-sans";
  src: url("../webfonts/ProductSans-Regular.woff");
}

.block-large{
  flex: 0 0 83%;
  max-width: 83%;
}
.block-medium{
  flex: 0 0 58%;
  max-width: 58%;
}
.block-half{
  flex: 0 0 50%;
  max-width: 50%;
}
.block-small{
  flex: 0 0 33%;
  max-width: 33%;
}


.navbar{
  padding: 0.3rem 2rem;
  background-color: var(--color-primary-dark);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;  
}

.navbar-element{
  display: inline ;
}

.navbar ul{
  list-style: none;
  padding: 0;
}

.navbar ul li{
  margin: 0 3rem;
  display: inline;
}
.navbar ul li a{
  color: var(--color-grey); 
  text-decoration: none;
  font-weight: 600;
}

.navbar li .active{
  color: var(--color-light) !important;
}

.navbar .navbar-logo{
  text-decoration: none;
  padding-top: 1rem;
  color: var(--color-extra);
  font-weight: 600;
  font-size: 24px;
}

.bars{
  display: none;
}

.button{
  text-decoration: none;
  border: 2px solid;
  padding: 1px  8px;
}
.button-notice{
  color: #ACC18A;
}
.button-notice-fill{
  background-color: #ACC18A;
  color: var(--color-light-light);
}
.button-alert{
  color: #FB6107;
}
.button-alert-fill{
  background-color: #FB6107;
  color: var(--color-dark);
}
.button-notice:hover{
  background-color: #ACC18A;
  border-color: #ACC18A;
  color: var(--color-dark)

}
.button-alert:hover{
  background-color: #FB6107;
  border-color: #FB6107;
  color: var(--color-dark)
}
.button-notice-fill:hover{
  background-color: rgb(142, 158, 116);
  border-color:rgb(142, 158, 116);
}
.button-alert:hover{
  background-color: rgb(224, 100, 28);
  border-color: rgb(224, 100, 28);
}
.button-register{
  padding: 4px 8px;
  border: 1px solid var(--color-extra);
  color: var(--color-extra) !important;
}

.button-register:hover{
  background-color: var(--color-extra);
  color: var(--color-primary) !important;
}


.center{
  margin: 0 auto;
}





/* Phones (phones, 768px and down) */
@media only screen and (max-width: 768px) {
  body .admin .block-large{
    flex: 0 0 100%;
    max-width: 100%;
    margin: 4rem auto;
  }
  body .admin .block-medium .block-medium  {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .index .block-medium, .parties .block-medium{
    flex: 0 0 83%;
    max-width: 83%;
  }
  .index .block-medium .candidates{
    margin-top: 8px;
  }

  .landing .landing-text h3{
    font-size: 2rem !important;
    line-height: 39px  !important;
  }

  .landing .landing-image{
    display: none;
  }


  .block-half{
    flex: 0 0 95%;
    max-width: 95%;
  }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media all and (max-width: 870px) {
  .navbar #menu {
    display: none ;
  }
  .navbar ul li{
    margin-bottom: 8px;
    display: block;
  }

  .navbar ul .button{
    display: inline-block !important;
  }

  .bars{
    padding: 1rem;
    display: block;
    color: var(--color-extra);
    font-size: 26px;
    background: transparent;
    border: none;
  }

  /* sign up */
  .illustration{
    display: none;
  }

  .signup-block .content{
    flex: 0 0 100%;
    max-width: 100% !important;
  }
  .signup-block {
    flex: 0 0 66% !important;
    max-width: 66% !important;
  }

  
} 

/* above tablet ( laptop and desktop) */
@media all and (min-width: 871px){
  .show{
    min-width: auto !important;
  }
  .index .modal-content {
    width: 40%;
  }
}



.show {
  display: block !important;
  min-width: calc(100vw);
}



.wrapper{
  display: flex;
  flex-wrap: wrap;
}

.block{
  position: relative;
  width: 100%;
  flex: 0 0 50%;
  max-width: 50%;
}
.signup-block{
  margin: 4rem auto;
  box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  
}

.signup-block .illustration{
  background-image: url("../images/signup.jpg");
  background-position: center;
  max-width: 50%;
  min-height: 550px;
}

.signup-block .content{
  max-width: 50%;
}

.container{
  padding: 2rem;
}
.login .container{
  padding: 4rem 2rem; 
}

.signup-block .container small{
  color: #666;
}
form{
  margin: 14px 0 40px 0;
}

input[type=text],input[type=email], input[type=password], textarea, select {
  width: 100%;
  border: 2px solid #e0dada;
  border-radius: 4px;
  padding: 7px 0 7px 6px;
  margin: 10px 0 ;
}

.signup-block .button{
  background: transparent;
  padding: 4px 8px;
  border: 2px solid var(--color-fancy);
  color: var(--color-fancy);
  font-weight: 600;
  font-size: 16px;
  margin-top: 10px;
  font-family: "nunito";
}

.signup-block .button:hover{
  background: var(--color-fancy);
  color: var(--color-primary);
}

.reset-password-link{
  margin-top: 2rem;
}

.reset .content{
  position: relative;
  width: 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

.reset .signup-block{
  position: relative;
  width: 100%;
  flex: 0 0 40%;
  max-width: 40%;
}

/* ----------------admin-------------------- */

.admin .block{
  position: relative;
  width: 100%;
}


.admin .block-large{
  flex: 0 0 83%;
  max-width: 83%;
  margin: 4rem auto;
}

.admin .body .block-large{
  margin: 0 auto;
}
.admin .block-medium{
  flex: 0 0 58%;
  max-width: 58%;
}
.admin .block-small{
  flex: 0 0 33%;
  max-width: 33%;
}

/* tab */

.admin .tab{
  padding: 4px 12px;
}
.admin .tab ul{
  list-style: none;
  border: 2px solid #dfd8d9;
  padding: 0;
  margin: 0;
}

.admin .tab ul li{
  border-bottom: 2px solid #dfd8d9;
}
.admin .tab ul li:first-child{
  padding: 8px 15px;
}

.admin .tab ul li a {
  color: #444;
  text-decoration: none;
  display: block;
  padding: 8px 15px;
}

.admin .tab ul li:last-child{
  border: none;
}
.admin .tab ul li:first-child{
  background-color: var(--color-primary);
  color: var(--color-light);
  font-weight: 600;
  text-align: center;
}

.admin .tab ul li.active{
  border-left: 3px solid var(--color-fancy);
  border-right: 3px solid var(--color-fancy);
}

/* content */

.admin .content{
  border: 2px solid #dfd8d9;
}

.admin .content .header{
  display: flex;
  justify-content: space-between;
  padding: 8px 13px;
  border-bottom: 2px solid #dfd8d9;
}

.admin .content .header h3{
  margin: 0;
}
.admin .content .header a {
  background: #ACC18A;
  border-color: #ACC18A;
  color: var(--color-light-light);
}

.admin .content .body{
  min-height: 150px;
}

/* navbar */

.button-nav-profile{
  color: var(--color-extra) !important;
  
}
.button-nav-profile:hover{
  cursor: pointer;
}

.navbar .menu-profile{
  display: none;
  background: #fcfcfc;
  position: fixed;
  right: 2%;
  top: 71px;
  border: 2px solid #dfd8d9;
  z-index: 10;
}

.navbar .menu-profile ul li{
  display: block;
  border-bottom: 2px solid #dfd8d9;
  margin: 0;
  padding: 5px 3rem;
}
.navbar .menu-profile ul li:hover {
  background: var(--color-primary-dark);
}
.navbar .menu-profile ul li a{
  color: #666;
}
.navbar .menu-profile ul li:hover a{
  color: var(--color-light);
}
.navbar .menu-profile ul li:last-child{
  border-bottom: none;
}


/* political party */


.admin .content{
  overflow-x: scroll;
}
.admin .content .body{
  padding: 1rem;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table, th, td {
  border: 1px solid #dfd8d9;
}


td{
  padding: 4px 8px;
  height: 35px;
}

.admin td img{
  width: 36px;
  height: 36px;
  border-radius: 18px;

}


/* add new political party */
.admin .content .block-medium {
  margin: 0 auto;
}
.admin .content .body form{
  padding: 1rem 26px;
  border: 2px solid #dfd8d9;
  min-width: 300px;
  background: var(--color-light-light);
}

.admin .content .body input[type=file]{
  font-size: 0.9em;
  font-weight: 700;
  color: var(--color-light-light);
  background-color: #444;
  display: inline-block;
}

.admin .content form label {
  display: block;
  margin: 12px 0 0 0;
}

.admin .content form input[type=submit]{
  background: #ACC18A;
  border-color: #ACC18A;
  padding: 6px  13px;
  font-size: 16px;
  color: var(--color-dark)
}

.admin .content .button-notice:hover{
  background-color: rgb(115, 131, 89);
}

/* edit party */

.admin .content .avatar{
  width: 90px;
  border: 2px dashed #dfd8d9;
  padding: 4px;
}

.admin .content .avatar img{
  width: 100%;
  height: auto;
}


/* ---------------- user ------------------------ */

/* index */
.index{
  background-color: var(--color-light-light);
}
.index  .block-medium{
  margin: 1rem auto;
  padding: 5px;
}

 .card{
  padding: 2px 14px  8px 14px;
  margin-bottom: 12px;
  box-shadow: 5px 5px 25px 0px rgba(46, 61, 73, 0.2);
}

.index .card .button {
  box-shadow: 5px 5px 25px 0px rgba(46, 61, 73, 0.2);
  border-color: transparent;
  text-align: center;
}

.index .block-large{
  flex: 0 0 83%;
  max-width: 83%;
}

.index .card .card-actions{
  /* justify-content: space-between; */
}
.index .card .card-actions #vote{
  margin-left: 8px;
}
.index .card .card-actions .candidates{
  color: #777;
  margin-left: auto;
  margin-right: 30px;
}

.index .card .card-actions:nth-child(2){
  justify-self: start;
}

.index form small {
  display: block;
  margin-top: -8px;
  margin-bottom: 15px;
}

.index .candidate{
  padding: 4px 0;
  border-bottom: 2px solid #dfd8d9;
}

.index .candidate .avatar{
  width: 60px;
  height: 60px;
  margin-right: 1rem;
  
}
.index .candidate .avatar img{
  width:100%;
  height: 100%;
  border-radius: 40px;
  box-shadow: 5px 5px 25px 0px rgba(46, 61, 73, 0.2);

}

.voted{
  cursor: not-allowed;
}
.voted-for{
  text-decoration: underline;
  color: #555;
}

/* parties */
.parties{
  background-color: var(--color-light-light);
}
.parties  .block-medium{
  margin: 1rem auto;
  padding: 5px;
}
.parties .avatar{
  width: 70px;
  height: 70px;
  margin-right: 2rem;
  box-shadow: 5px 5px 25px 0px rgba(46, 61, 73, 0.2);
}
.parties .avatar img{
  width: 100%;
  height: 100%;
  box-shadow: 5px 5px 25px 0px rgba(46, 61, 73, 0.2);
}


/* modal */


.modal {
  display: none; 
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


/* -------------------- landing ---------------------------- */

.landing{
  height: calc(100vh);
  padding-bottom: 2rem;
}
.landing .wrapper{
  height: 100%;
}
.landing-image{
  background-image: url("../images/landing-page.png");
  background-position: center;
  background-size: cover;
}

.landing h2{
  font-family: "product-sans";
  letter-spacing: 1.8px;
  font-size: 38px;
  margin-left: 2rem;
}

.landing .landing-text{
  margin-top: 4rem;
  padding: 0 3rem 2rem 3rem;
}
.landing .landing-text h3{
  font-size: 2rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 62px;
  letter-spacing: -2px;
  color: var(--color-secondary-dark);
}


.landing .landing-text p{
  color: #777;
  margin-top: -2rem;
  margin-bottom: 3rem;
}

.landing .button-landing{
  padding: 10px 12px;
  border-radius: 6px;
  background-image: linear-gradient(var(--color-secondary-dark), var(--color-primary));
  color: var(--color-light);
  text-decoration: none;
  font-weight: 600;
}

.user  #run-office{
  display: none !important;
}



/* ----------------- footer --------------------------------- */
/* .reset{
  height: calc(100vh -180px);
} */

footer{
  background: var(--color-dark);
  color: var(--color-light-light);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

footer .wrapper{
  padding: 1rem 3rem;
  justify-content: space-around;
}

footer ul{
  list-style: none;
}
footer ul li{
  padding: 4px 0;
}
