
body{
  --color-primary: #383a3e;
  --color-primary-dark: #1e1f26;
  --color-secondary: #8c6a5e;
  --color-secondary-dark: #735149;
  --color-extra: #e3d2bc;
  --color-fancy: #ffc872;
  --color-light: #f1f1f1;
  --color-grey: #8C8C8C;
  --color-dark: #333;

  padding: 0;
  margin: 0;
  color: var(--color-dark);

  font-family: "nunito";
}


.navbar{
  padding: 0.3rem 2rem;
  background-color: var(--color-primary-dark);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;  
}

.navbar-element{
  display: inline ;
}

.navbar ul{
  list-style: none;
  padding: 0;
}

.navbar ul li{
  margin: 0 3rem;
  display: inline;
}
.navbar ul li a{
  color: var(--color-grey); 
  text-decoration: none;
  font-weight: 600;
}

.navbar li .active{
  color: var(--color-light) !important;
}

.navbar .navbar-logo{
  text-decoration: none;
  padding-top: 1rem;
  color: var(--color-extra);
  font-weight: 600;
  font-size: 24px;
}

.bars{
  display: none;
}


.button-register{
  padding: 4px 8px;
  border: 1px solid var(--color-extra);
  color: var(--color-extra) !important;
}

.button-register:hover{
  background-color: var(--color-extra);
  color: var(--color-primary) !important;
}






/* Phones (phones, 768px and down) */
@media only screen and (max-width: 768px) {

} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media all and (max-width: 870px) {
  .navbar #menu {
    display: none ;
  }
  .navbar ul li{
    margin-bottom: 8px;
    display: block;
  }

  .navbar ul .button{
    display: inline-block !important;
  }

  .bars{
    padding: 1rem;
    display: block;
    color: var(--color-extra);
    font-size: 26px;
    background: transparent;
    border: none;
  }

  /* sign up */
  .illustration{
    display: none;
  }

  .signup-block .content{
    flex: 0 0 100%;
    max-width: 100% !important;
  }
  .signup-block {
    flex: 0 0 66% !important;
    max-width: 66% !important;
  }

  
} 

@media all and (min-width: 871px){
  .show{
    min-width: auto !important;
  }
}



.show {
  display: block !important;
  min-width: calc(100vw);
}



.wrapper{
  display: flex;
  flex-wrap: wrap;
}

.block{
  position: relative;
  width: 100%;
  flex: 0 0 50%;
  max-width: 50%;
}
.signup-block{
  margin: 4rem auto;
  box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  
}

.signup-block .illustration{
  background-image: url("../images/signup.jpg");
  background-position: center;
  max-width: 50%;
  min-height: 550px;
}

.signup-block .content{
  max-width: 50%;
}

.container{
  padding: 2rem;
}
.login .container{
  padding: 4rem 2rem; 
}

.signup-block .container small{
  color: #666;
}
form{
  margin: 14px 0 40px 0;
}

input[type=text],input[type=email], input[type=password] {
  width: 100%;
  border: 2px solid #e0dada;
  border-radius: 4px;
  padding: 9px;
  margin: 10px 0 ;
}

.signup-block .button{
  background: transparent;
  padding: 4px 8px;
  border: 2px solid var(--color-fancy);
  color: var(--color-fancy);
  font-weight: 600;
  font-size: 16px;
  margin-top: 10px;
  font-family: "nunito";
}

.signup-block .button:hover{
  background: var(--color-fancy);
  color: var(--color-primary);
}

.reset-password-link{
  margin-top: 2rem;
}

.reset .content{
  position: relative;
  width: 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

.reset .signup-block{
  position: relative;
  width: 100%;
  flex: 0 0 40%;
  max-width: 40%;
}
